#---------------------------------------------------------------------------------------------------
# Git Ignore file for Me
#---------------------------------------------------------------------------------------------------
# Exclude Python cache files
*.pyc
__pycache__
.pytest_cache

# Exclude Python vritual environments
env*

# Exclude VIM swap files
*swp

# Exclude the node-modules
node_modules
src/google-app-engine/web-gui-v1/static-src/vue/semantic*
#---------------------------------------------------------------------------------------------------
