#me-content-api-help {
    code {
        font-family: @code-block-font;
        display: block;
        margin-bottom: 14px;
        background-color: @code-block-bg;
        color: @code-block-fg;
        padding: 14px;
    }

    #groups {
        .loading_text {
            text-align: center;
            margin: 24px 0px 24px 0px;

            .loader {
                margin-right: 12px;
            }
        }

        .group {
            border-bottom: 1px solid @user-profile-client-border !important;
            background-color: @user-profile-client-title-bg;
            cursor: pointer;

            .collapse {
                font-family: @code-block-font;
                width: 48px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;
            }

            .name {
                font-family: @code-block-font;
                max-width: 350px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;
            }

            .description {
                padding: 12px 16px 12px 16px;
            }

            @media screen and (max-width: @max-size-tablet) {
                .name {
                    max-width: none;
                }

                .description {
                    padding: 12px 16px 12px 16px;
                    width: 100%;
                    border-top: 1px solid @user-profile-client-border;
                }
            }
        }

        .endpoint {
            border-bottom: 1px solid @user-profile-client-border;
            cursor: pointer;

            .collapse {
                font-family: @code-block-font;
                width: 48px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;
            }

            .name {
                font-family: @code-block-font;
                max-width: 350px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;
            }

            .description {
                padding: 12px 16px 12px 16px;
            }

            @media screen and (max-width: @max-size-tablet) {
                .name {
                    max-width: none;
                }

                .description {
                    padding: 12px 16px 12px 16px;
                    width: 100%;
                    border-top: 1px solid @user-profile-client-border;
                }
            }
        }

        .method {
            border-bottom: 1px solid @user-profile-client-border;

            .collapse {
                font-family: @code-block-font;
                min-width: 48px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;

                i {
                    cursor: pointer;
                }
            }

            .name {
                font-family: @code-block-font;
                min-width: 350px;
                max-width: 350px;
                border-right: 1px solid @user-profile-client-border;
                padding: 12px 16px 12px 16px;
            }

            .description {
                padding: 12px 16px 12px 16px;

                p.permission {
                    margin-bottom: 8px;

                    .title {
                        font-weight: bold;
                    }
                }
            }

            @media screen and (max-width: @max-size-tablet) {
                .collapse {
                    display: none;
                }

                .name {
                    width: 100%;
                    max-width: 100%;
                }

                .description {
                    padding: 12px 16px 12px 16px;
                    width: 100%;
                    border-top: 1px solid @user-profile-client-border;
                }
            }
        }

        .group:last-child {
            border-bottom: 0px;
        }
    }
}
