.ui.card {
    border-radius: 0;
    text-align: left;

    &.wide {
        width: 100%;
    }

    div.padding {
        padding: 14px 16px 14px 16px;
    }

    h1 {
        font-family: @h1-font-family;
        font-size: @h1-font-size;
        font-weight: @h1-font-weight;
        padding: 10px;
        background-color: @card-header-bg;
        margin: 0px;
        border-bottom: 1px solid #ffffff;
    }

    > :first-child {
        border-radius: 0 !important;
    }

    .action_button {
        border-bottom: 1px solid rgba(34,36,38,.15); // TODO: Move to colorsheet

        &:last-child {
            border-bottom: 0px;
        }

        > div {
            display: block;
            padding: 16px 16px 16px 16px;

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}