//**************************************************************************************************
// CSS for the dashboard-page
//**************************************************************************************************
// Imports
@import "me-theme-light.less";
//**************************************************************************************************
body {
    background-color: @bg-page;
    font-size: @text-size;
}

// Styles for the dashboard
#me-dashboard {
    #me-dashboard-header {
        width: 100%;
        background-color: @header-bg;
        color: @header-fg;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

        > div {
            padding: 20px;
            display: inline-block;
        }

        #me-dashboard-button-menu {
            width: 280px;
            cursor: pointer;
        }

        #me-dashboard-button-menu.hide_menu {
            width: auto;
        }

        #me-dashboard-search {
            flex-grow: 2;

            .icon {
                float: right;
            }

            &.active {
                background-color: @header-search-bg-active;
                padding: 15px;

                .icon {
                    color: @header-search-fg-active;
                }
            }

            .input {
                width: 100%;
            }

            input {
                color: @header-search-fg-active;
                font-size: 1.3em;
                font-style: italic;
            }

            input::placeholder {
                color: @header-search-ph-active;
            }
        }
    }
}
//**************************************************************************************************
