//**************************************************************************************************
// CSS for the dashboard-page
//**************************************************************************************************
// Imports
@import "me-theme-light.less";
//**************************************************************************************************
html {
    height: 100%;
}

body {
    background-color: @bg-page;
    font-size: @text-size;
    height: 100%;
}

// Generic stylings
.ui.card {
    border-radius: 0;
}

.ui.card div.padding {
    padding: 14px 16px 14px 16px;
}

.ui.card h1 {
    font-family: @h1-font-family;
    font-size: @h1-font-size;
    font-weight: @h1-font-weight;
    padding: 10px;
    background-color: @card-header-bg;
    margin: 0px;
    border-bottom: 1px solid #ffffff;
}

> :first-child {
    border-radius: 0 !important;
}

// Styles for the dashboard
#me-dashboard {
    display: flex;
    height: 100%;
    flex-flow: column;

    #me-dashboard-header {
        width: 100%;
        background-color: @header-bg;
        color: @header-fg;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
        z-index: 20;
        height: 60px;

        > div {
            padding: 20px 20px 0 20px;
            display: inline-block;
        }

        #me-dashboard-button-menu {
            max-width: @menu-width;
            cursor: pointer;

            &.hide_menu {
                width: auto;
            }
        }

        #me-dashboard-search {
            flex-grow: 2;

            .icon {
                float: right;
                cursor: pointer;
            }

            &.active {
                background-color: @header-search-bg-active;
                padding: 17px 15px 0 15px;

                .icon {
                    color: @header-search-fg-active;
                }
            }

            .input {
                width: 100%;
            }

            input {
                color: @header-search-fg-active;
                font-size: 1.3em;
                font-style: italic;
            }

            input::placeholder {
                color: @header-search-ph-active;
            }
        }
    }

    #me-dashboard-menu-and-content {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        #me-dashboard-main-menu {
            flex-grow: 0;
            min-width: @menu-width;
            background-color: @menu-bg;
            z-index: 10;
            overflow-y: auto;
            overflow-x: hidden;
            height: auto;
            transition-property: margin-left;
            transition-duration: 0.2s;

            &.hidden {
                margin-left: -@menu-width;
                transition-property: margin-left;
                transition-duration: 0.2s;
            }

            &.floating {
                height: calc(100% - 60px);
                position: absolute;
            }

            div.menu-second {
                position: absolute;
                width: 100%;
                top: 0%;
                left: 100%;
                background-color: @menu-bg;
                height: 100%;
            }

            > div.menu {
                background-color: @menu-bg;
                height: 100%;
                padding: 18px 0 0 0;

                div.menu-section {                
                    >h1 {
                        color: @menu-header-fg;
                        text-transform: uppercase;
                        font-size: 1em;
                        font-weight: bold;
                        margin: 18px 18px 9px 18px;
                    }

                    >ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        >li {
                            font-size: 1.0em;
                            padding: 8px 18px 8px 18px;
                            margin: 0px;
                            cursor: pointer;

                            .icon {
                                margin-right: 16px;
                            }

                            span {
                                padding-top: 2px;
                            }

                            &:hover, &.active {
                                background-color: @menu-item-active-bg;
                            }
                        }
                    }
                }
            }

            > div.menu:last-child {
                margin-bottom: 0px;
            }
        }

        #me-dashboard-content {
            width: auto;
            flex-grow: 2;
            overflow: auto;
        }

        #me-dashboard-sidebar {
            flex-grow: 0;
            min-width: @sidebar-width;
            max-width: 320px;
            background-color: @sidebar-bg;
            transition-property: margin-right;
            transition-duration: 0.2s;
            
            &.hidden {
                margin-right: -@sidebar-width;
                transition-property: margin-right;
                transition-duration: 0.2s;
            }

            &.floating {
                height: calc(100% - 60px);
                position: fixed;
                right: 0px;
            }
        }
    }

    #me-dashboard-content {
        .me-page-title {
            background-color: rgba(255,255,255,0.45);       // TODO: Move to theme-file
            padding: 24px;

            > div {
                display: inline-block;
            }

            > .title {
                font-size: 1.50em;
                font-weight: 550;
                font-family: Roboto Slab;                   // TODO: add font to imports
                padding-top: 4px;
            }

            > .actions {
                float: right;
                margin-top: -5px;
            }
        }
    }

    #me-content-userprofile {
        > .grid {
            margin: 0px !important;         // Needed so mobile isn't scrolling
            width: 100%;

            .column {
                width: 50%;
                max-width: 100%;
                min-width: 400px;

                .card {
                    width: 100%;
                    text-align: left;
                    min-width: 100%;

                    form {
                        padding: 14px 16px 14px 16px;
                        font-size: @text-size;
                    }
                }
            }
        }

        #authentication {
            > div div {
                display: inline-block;
                padding: 16px 0 16px 0;

                &:nth-child(2) {
                    float: right;
                    padding: 8px 0 0 0;
                }

                & .icon {
                    margin-right: 16px;
                }
            }
        }
    }
}
//**************************************************************************************************
