#modal_command_palette {
    input {
        border: 0px;
        background-color: @command-pallete-input-bg;
        color: @command-pallete-input-fg;
        font-size: 1.3em;
        font-style: italic;
        border-radius: 0;
        width: 100%;
        border: 1px solid @command-pallete-input-border;
        border-bottom: 0px;
    }

    input::placeholder {
        color: @header-search-ph-active;
    }

    .results {
        margin-top: 0px;
        border-radius: 0;
        max-height: 300px;
        overflow: auto;

        a.result {
            div.content {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-evenly;

                div.title {
                    flex-grow: 1;
                    font-weight: 400;
                    padding-top: 3px;
                }

                div.category {
                    flex-grow: 0;
                    color: #cccccc;
                }
            }
        }
    }
}
