.me-page-title {
    background-color: rgba(255,255,255,0.45);       // TODO: Move to theme-file
    padding: 24px;

    //> div {
    //    display: inline-block;
    //}

    .title {
        font-size: 1.50em;
        font-weight: 550;
        font-family: Roboto Slab;                    // TODO: add font to imports
        padding-top: 4px;
    }

    .actions {
        float: right;
        margin-top: -5px;
    }
}