div.me-token-permissions {
    > div {
        padding: 12px;

        div.description {
            font-weight: 600;

            p {
                font-weight: normal;
                font-size: 0.9em;
                font-style: italic;
                color: #ccc;
            }
        }
    }
}