//**************************************************************************************************
// Less file for the 'light' theme of Me
//*************************************************************************************************/
// Colors
//*************************************************************************************************/
// Background-colors
@bg-page: #e8ebef;
@bg-dark: #46494c;
//*************************************************************************************************/
// Fonts
//*************************************************************************************************/
// Headers
@h1-font-family: 'Roboto', sans-serif;
@h1-font-size: 1.3rem;
@h1-font-weight: normal;
// Normal text-size
@text-size: 1em;
// Codeblocks
@font-code-block: 'Roboto Mono';
//*************************************************************************************************/
// Media screen sizes
//*************************************************************************************************/
@max-size-mobile: 799px;
@max-size-tablet: 1024px;
//*************************************************************************************************/
// Settings for the login-window
//*************************************************************************************************/
@login-header-bg: #2185d0;
//*************************************************************************************************/
// Page titles
//*************************************************************************************************/
@page-title-bg: rgba(255,255,255,0.45);
@page-title-font: 'Roboto Slab';
//*************************************************************************************************/
// Settings for the dashboard-header
//*************************************************************************************************/
@header-bg: #ffffff;
@header-fg: #757575;
@header-search-bg-active: @bg-dark;
@header-search-fg-active: #ffffff;
@header-search-ph-active: #afafaf;
//*************************************************************************************************/
// Settings for the main-menu
//*************************************************************************************************/
@menu-width: 280px;
@menu-bg: #ffffff;
@menu-header-fg: #2185d0;
@menu-item-active-bg: #afafaf;
//*************************************************************************************************/
// Settings for the sidebar
//*************************************************************************************************/
@sidebar-width: 320px;
@sidebar-bg: #ffffff;
//*************************************************************************************************/
// Settings for the cards
//*************************************************************************************************/
@card-header-bg: #757575;
@card-action-button-border: 1px solid rgba(34,36,38,.15);
@card-bg: #ffffff;
//*************************************************************************************************/
// Settings for the cards
//*************************************************************************************************/
@input-error-border: #ff0000;
//*************************************************************************************************/
// Command palette
//*************************************************************************************************/
@command-pallete-input-bg: #ffffff;
@command-pallete-input-fg: #000000;
@command-pallete-input-border: #d4d4d5;
@command-pallete-category-fg: #cccccc;
//*************************************************************************************************/
// User profile
//*************************************************************************************************/
@user-profile-client-bg: #ffffff;
@user-profile-client-border: rgba(34,36,38,.15);
@user-profile-client-title-bg: #f3f4f7;
@user-profile-client-version-fg: #cccccc;
@user-profile-user-border: rgba(34,36,38,.15);
@user-profile-user-expired-fg: #ff0000;
@user-profile-user-token-bg: rgba(255, 0, 0, .20);
@user-profile-user-rename-border: rgba(34,36,38,.15);
@user-profile-user-rename-bg: #f3f4f7;
@user-profile-user-settings-dateformat-bg: #f3f4f7;
@user-profile-user-settings-dateformat-fg: #000000;
@user-profile-user-settings-dateformat-border: rgba(34,36,38,.15);
//*************************************************************************************************/