//**************************************************************************************************
// Less file for the 'light' theme of Me
//*************************************************************************************************/
// Colors
//*************************************************************************************************/
// Background-colors
@bg-page: #e8ebef;
@bg-dark: #46494c;
//*************************************************************************************************/
// Fonts
//*************************************************************************************************/
// Headers
@h1-font-family: 'Roboto', sans-serif;
@h1-font-size: 1.3rem;
@h1-font-weight: normal;

@text-size: 1em;
//*************************************************************************************************/
// Media screen sizes
//*************************************************************************************************/
@max-size-mobile: 600px;
//*************************************************************************************************/
// Settings for the login-window
//*************************************************************************************************/
@login-header-bg: #2185d0;
//*************************************************************************************************/
// Settings for the dashboard-header
//*************************************************************************************************/
@header-bg: #ffffff;
@header-fg: #757575;
@header-search-bg-active: @bg-dark;
@header-search-fg-active: #ffffff;
@header-search-ph-active: #afafaf;
//*************************************************************************************************/
// Settings for the main-menu
//*************************************************************************************************/
@menu-width: 280px;
@menu-bg: #ffffff;
@menu-header-fg: #2185d0;
@menu-item-active-bg: #afafaf;
//*************************************************************************************************/
// Settings for the sidebar
//*************************************************************************************************/
@sidebar-width: 320px;
@sidebar-bg: #ffffff;
//*************************************************************************************************/
