#me-content-userprofile {
    > .me-grid {
        .card {
            form {
                padding: 14px 16px 14px 16px;
                font-size: @text-size;
            }
        }
    }

    .clients {
        > div {
            .client {
                background-color: #ffffff; // TODO: Colorsheet
                
                > .me-flexline {
                    padding: 12px 16px 12px 16px;
                    border-bottom: 1px solid rgba(34,36,38,.15);   // TODO: colorsheet

                    &.client_title {
                        background-color: #f3f4f7; // TODO: Colorsheet
                    }

                    p.title {
                        font-weight: 600;
                        font-size: 1.1em;
                        margin-bottom: 0px;
                    }

                    span.publisher {
                        font-weight: 400;
                        font-size: 1em;
                        font-style: italic;
                    }

                    p.version {
                        color: #cccccc; // TODO: colorsheet
                        font-style: italic;
                    }
                }

                > div.user_token {
                    .me-flexline {
                        padding: 12px 16px 12px 16px;
                        border-bottom: 1px solid rgba(34,36,38,.15);   // TODO: colorsheet

                        .actions {
                            i {
                                margin-left: 12px;
                                cursor: pointer;
                            }
                        }

                        .title {
                            font-weight: 600;
                        }
                    }

                    .token_line {
                        padding: 12px 16px 12px 16px;
                        background-color: rgba(255, 0, 0, .20);   // TODO: colorsheer
                        font-family: Roboto Mono;       // TODO: Colorsheet
                        font-size: 1em;
                        font-weight: 400;

                        .grower {
                            padding-top: 8px;
                        }
                    }
                }
            }

            .client:last-child {
                border-bottom: 0px;
            }

            .loading {
                text-align: center;
                margin: 24px 0px 24px 0px;

                .loader {
                    margin-right: 12px;
                }
            }
        }
    }
}