body {
  background-color: #e8ebef;
  font-size: 1em;
  height: 100%;
}
#me-dashboard {
  display: flex;
  height: 100%;
  flex-flow: column;
}
#me-dashboard #me-dashboard-header {
  width: 100%;
  background-color: #ffffff;
  color: #757575;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  z-index: 20;
}
#me-dashboard #me-dashboard-header > div {
  padding: 20px;
  display: inline-block;
}
#me-dashboard #me-dashboard-header #me-dashboard-button-menu {
  width: 280px;
  cursor: pointer;
}
#me-dashboard #me-dashboard-header #me-dashboard-button-menu.hide_menu {
  width: auto;
}
#me-dashboard #me-dashboard-header #me-dashboard-search {
  flex-grow: 2;
}
#me-dashboard #me-dashboard-header #me-dashboard-search .icon {
  float: right;
}
#me-dashboard #me-dashboard-header #me-dashboard-search.active {
  background-color: #46494c;
  padding: 15px;
}
#me-dashboard #me-dashboard-header #me-dashboard-search.active .icon {
  color: #ffffff;
}
#me-dashboard #me-dashboard-header #me-dashboard-search .input {
  width: 100%;
}
#me-dashboard #me-dashboard-header #me-dashboard-search input {
  color: #ffffff;
  font-size: 1.3em;
  font-style: italic;
}
#me-dashboard #me-dashboard-header #me-dashboard-search input::placeholder {
  color: #afafaf;
}
#me-dashboard #me-dashboard-main-menu {
  background-color: #46494c;
  width: 280px;
  flex-grow: 2;
  background-color: #ffffff;
  z-index: 10;
  overflow-y: auto;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > h1 {
  color: #2185d0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin: 18px 18px 9px 18px;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > ul > li {
  font-size: 1em;
  padding: 8px 18px 8px 18px;
  margin: 0px;
  cursor: pointer;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > ul > li .icon {
  margin-right: 16px;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > ul > li span {
  padding-top: 2px;
}
#me-dashboard #me-dashboard-main-menu div.menu-section > ul > li:hover {
  background-color: #afafaf;
}
