#---------------------------------------------------------------------------------------------------
# Files that Google Cloud App Engine shouln't upload
#---------------------------------------------------------------------------------------------------
# Exclude Python cache files
*.pyc
__pycache__
.pytest_cache

# Exclude Python vritual environments
env*

# Exclude VIM swap files
*swp
#---------------------------------------------------------------------------------------------------
